* {
     box-sizing: border-box;
}

body {
     margin: 0;
     font-family: cursive;
     background-color: #aaaa;
}
h1 {
     text-align: center;
}

.container {
     background-color: antiquewhite;
     max-width: 70%;
     /* min-height: 600px; */
     margin-inline: auto;
}

.box {
     width: 100%;
     height: 80px;
     /* padding: 10px; */
     /* padding-top: 10px;
     padding-bottom: 10px; */
     /* border: 1px solid red; */
     box-shadow: 0 0 1px red;
     margin-bottom: 5px;
     display: flex;
     align-items: center;
     gap: 10px;
     position: relative;
}
.setting {
     position: absolute;
     left: -8px;
     top: -8px;
     width: 20px;
     height: 20px;
}
.setting:hover {
     cursor: pointer;
}
.tier {
     height: 80px;
     width: 80px;
     background-color: aqua;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: default;
     margin-right: 20px;
     overflow: hidden;
}
.tier-1 {
     background-color: #ff7f7f;
}
.tier-2 {
     background-color: #ffbf7f;
}
.tier-3 {
     background-color: #ffdf7f;
}
.tier-4 {
     background-color: #ffff7f;
}

.tier-5 {
     background-color: #bfff7f;
}

.image-container {
     background-color: bisque;
     margin-top: 20px;
     padding: 10px;
     max-width: 70%;
     margin-inline: auto;
     display: flex;
     align-items: center;
     gap: 5px;
     flex-wrap: wrap;
     min-height: 75px;

     /* justify-content: center;    */
}

img {
     width: 70px;
     height: 70px;
     margin: 8px;
}
